<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap_css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- my own custom css -->
    <link rel="stylesheet" type="text/css" href="css/custom_style.css">
      
    <title>Shafi's Blog</title>
    <link rel="icon" type="image/ico" href="Images/title_icon/title_icon.png" />

    <!-- latest jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  </head>

  <body>
       <!-- loading navigation bar dynimacally using jquery -->
            <!--Navigation ba starts-->
            <div id="nav-placeholder"> </div>

            <!-- loading navigation bar dynimacally using jquery -->
            <!-- <script>
                 $("#nav-placeholder").load("file:///H:/Varsity%20Life/3-3/Study/WP%20LAB/MyAssignment/MyProject/include/nav_bar.html")
            </script> -->

            <!-- including nav_bar using ejs -->
            <%- include include/nav_bar_without_login.ejs %>

            <!--end of Navigation bar-->

            <div class="container">
              <div class="col-md-12">
                  <h1>This is a test post by Shafi</h1>
                  <img class="img-fluid" src="Images/article_image/article1_image.jpg" alt="Chania"> 

                  <span class="badge">Posted 2012-08-02 20:47:04</span>

                  <p>Lorem ipsum dolor sit amet, tota discere gubergren pri an. Vocent persius eligendi nam at, et nam error noluisse. At quod veniam nec. No per alia iusto soleat, cu duo illum consequuntur, ponderum explicari liberavisse est ne.

                    Nec enim appetere philosophia ex. In vim veniam tantas. Prima aperiam feugiat sea an, vix mutat ceteros no, vis possit viderer apeirian et. Vis ea odio quando, pri ne iisque tincidunt. Quando audire an has. Usu te perfecto platonem.
                    
                    Ne debet oportere petentium sea. Dolorem graecis pri ut, eam ut virtute delenit eleifend. Unum veri senserit cu sed, euismod fierent invenire ut sea, cu vel possim mentitum rationibus. Sed ad fugit dicunt, lorem semper nec et, oratio audire reprehendunt no usu. Dolore inimicus ei cum, qui eros interesset at. Nec ea aliquip eripuit, ne vidisse veritus mei. Per offendit percipitur at.
                    
                    Vis an facilisi delicata, sit nisl corpora an. Euismod voluptatibus vel id, ne vel aliquando accommodare, expetenda signiferumque cum an. Quo an mandamus urbanitas comprehensam. Mel quas iudico te, no regione antiopam sed. Doctus ponderum id sea, te legendos suavitate persequeris quo, te pro mundi alienum suscipiantur. No vis eripuit lucilius.
                    
                    Adipiscing definiebas an est. In nam probo alienum, ut est ridens nominati comprehensam, eam fastidii gloriatur ne. At stet dicta assentior sed. No sit quod constituto vituperatoribus, scribentur ullamcorper ad pri. Dico nibh electram vel ex, ad nec dicunt vituperatoribus. At has quis velit perfecto, molestie offendit no pro.
                  </p>

                  <p>Lorem ipsum dolor sit amet, tota discere gubergren pri an. Vocent persius eligendi nam at, et nam error noluisse. At quod veniam nec. No per alia iusto soleat, cu duo illum consequuntur, ponderum explicari liberavisse est ne.

                    Nec enim appetere philosophia ex. In vim veniam tantas. Prima aperiam feugiat sea an, vix mutat ceteros no, vis possit viderer apeirian et. Vis ea odio quando, pri ne iisque tincidunt. Quando audire an has. Usu te perfecto platonem.
                    
                    Ne debet oportere petentium sea. Dolorem graecis pri ut, eam ut virtute delenit eleifend. Unum veri senserit cu sed, euismod fierent invenire ut sea, cu vel possim mentitum rationibus. Sed ad fugit dicunt, lorem semper nec et, oratio audire reprehendunt no usu. Dolore inimicus ei cum, qui eros interesset at. Nec ea aliquip eripuit, ne vidisse veritus mei. Per offendit percipitur at.
                    
                    Vis an facilisi delicata, sit nisl corpora an. Euismod voluptatibus vel id, ne vel aliquando accommodare, expetenda signiferumque cum an. Quo an mandamus urbanitas comprehensam. Mel quas iudico te, no regione antiopam sed. Doctus ponderum id sea, te legendos suavitate persequeris quo, te pro mundi alienum suscipiantur. No vis eripuit lucilius.
                    
                    Adipiscing definiebas an est. In nam probo alienum, ut est ridens nominati comprehensam, eam fastidii gloriatur ne. At stet dicta assentior sed. No sit quod constituto vituperatoribus, scribentur ullamcorper ad pri. Dico nibh electram vel ex, ad nec dicunt vituperatoribus. At has quis velit perfecto, molestie offendit no pro.
                  </p>

                  <p>Lorem ipsum dolor sit amet, tota discere gubergren pri an. Vocent persius eligendi nam at, et nam error noluisse. At quod veniam nec. No per alia iusto soleat, cu duo illum consequuntur, ponderum explicari liberavisse est ne.

                    Nec enim appetere philosophia ex. In vim veniam tantas. Prima aperiam feugiat sea an, vix mutat ceteros no, vis possit viderer apeirian et. Vis ea odio quando, pri ne iisque tincidunt. Quando audire an has. Usu te perfecto platonem.
                    
                    Ne debet oportere petentium sea. Dolorem graecis pri ut, eam ut virtute delenit eleifend. Unum veri senserit cu sed, euismod fierent invenire ut sea, cu vel possim mentitum rationibus. Sed ad fugit dicunt, lorem semper nec et, oratio audire reprehendunt no usu. Dolore inimicus ei cum, qui eros interesset at. Nec ea aliquip eripuit, ne vidisse veritus mei. Per offendit percipitur at.
                    
                    Vis an facilisi delicata, sit nisl corpora an. Euismod voluptatibus vel id, ne vel aliquando accommodare, expetenda signiferumque cum an. Quo an mandamus urbanitas comprehensam. Mel quas iudico te, no regione antiopam sed. Doctus ponderum id sea, te legendos suavitate persequeris quo, te pro mundi alienum suscipiantur. No vis eripuit lucilius.
                    
                    Adipiscing definiebas an est. In nam probo alienum, ut est ridens nominati comprehensam, eam fastidii gloriatur ne. At stet dicta assentior sed. No sit quod constituto vituperatoribus, scribentur ullamcorper ad pri. Dico nibh electram vel ex, ad nec dicunt vituperatoribus. At has quis velit perfecto, molestie offendit no pro.
                  </p>

                  <p>Lorem ipsum dolor sit amet, tota discere gubergren pri an. Vocent persius eligendi nam at, et nam error noluisse. At quod veniam nec. No per alia iusto soleat, cu duo illum consequuntur, ponderum explicari liberavisse est ne.

                    Nec enim appetere philosophia ex. In vim veniam tantas. Prima aperiam feugiat sea an, vix mutat ceteros no, vis possit viderer apeirian et. Vis ea odio quando, pri ne iisque tincidunt. Quando audire an has. Usu te perfecto platonem.
                    
                    Ne debet oportere petentium sea. Dolorem graecis pri ut, eam ut virtute delenit eleifend. Unum veri senserit cu sed, euismod fierent invenire ut sea, cu vel possim mentitum rationibus. Sed ad fugit dicunt, lorem semper nec et, oratio audire reprehendunt no usu. Dolore inimicus ei cum, qui eros interesset at. Nec ea aliquip eripuit, ne vidisse veritus mei. Per offendit percipitur at.
                    
                    Vis an facilisi delicata, sit nisl corpora an. Euismod voluptatibus vel id, ne vel aliquando accommodare, expetenda signiferumque cum an. Quo an mandamus urbanitas comprehensam. Mel quas iudico te, no regione antiopam sed. Doctus ponderum id sea, te legendos suavitate persequeris quo, te pro mundi alienum suscipiantur. No vis eripuit lucilius.
                    
                    Adipiscing definiebas an est. In nam probo alienum, ut est ridens nominati comprehensam, eam fastidii gloriatur ne. At stet dicta assentior sed. No sit quod constituto vituperatoribus, scribentur ullamcorper ad pri. Dico nibh electram vel ex, ad nec dicunt vituperatoribus. At has quis velit perfecto, molestie offendit no pro.
                  </p>

                  <p>Lorem ipsum dolor sit amet, tota discere gubergren pri an. Vocent persius eligendi nam at, et nam error noluisse. At quod veniam nec. No per alia iusto soleat, cu duo illum consequuntur, ponderum explicari liberavisse est ne.

                    Nec enim appetere philosophia ex. In vim veniam tantas. Prima aperiam feugiat sea an, vix mutat ceteros no, vis possit viderer apeirian et. Vis ea odio quando, pri ne iisque tincidunt. Quando audire an has. Usu te perfecto platonem.
                    
                    Ne debet oportere petentium sea. Dolorem graecis pri ut, eam ut virtute delenit eleifend. Unum veri senserit cu sed, euismod fierent invenire ut sea, cu vel possim mentitum rationibus. Sed ad fugit dicunt, lorem semper nec et, oratio audire reprehendunt no usu. Dolore inimicus ei cum, qui eros interesset at. Nec ea aliquip eripuit, ne vidisse veritus mei. Per offendit percipitur at.
                    
                    Vis an facilisi delicata, sit nisl corpora an. Euismod voluptatibus vel id, ne vel aliquando accommodare, expetenda signiferumque cum an. Quo an mandamus urbanitas comprehensam. Mel quas iudico te, no regione antiopam sed. Doctus ponderum id sea, te legendos suavitate persequeris quo, te pro mundi alienum suscipiantur. No vis eripuit lucilius.
                    
                    Adipiscing definiebas an est. In nam probo alienum, ut est ridens nominati comprehensam, eam fastidii gloriatur ne. At stet dicta assentior sed. No sit quod constituto vituperatoribus, scribentur ullamcorper ad pri. Dico nibh electram vel ex, ad nec dicunt vituperatoribus. At has quis velit perfecto, molestie offendit no pro.
                  </p>

                  <div>
            
              <div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
              <span class="label label-danger">Danger</span></div>         
                   </div>
                
              </div>
              </div>

             <!-- loading footer using jquery -->
             <!-- <div id="footer-placeholder"></div>
             <script>
              $("#footer-placeholder").load("file:///H:/Varsity%20Life/3-3/Study/WP%20LAB/MyAssignment/MyProject/include/footer.html")
             </script> -->

              <!-- loading footer using ejs include -->
              <%- include include/footer.ejs %>

              <!-- Optional JavaScript -->
              <!-- jQuery first, then Popper.js, then Bootstrap JS -->
              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
              <script src="css/bootstrap_js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>