<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a href="Images/website_logo/nav_logo.png"> Shafi's Blog </a></h2>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Programming</a></li>
                    <li><a href="#">Development</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Blog information</a></li>
                    <li><a href="#">Contact me</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-network">
                    <a href="/twitter"target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="/facebook" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="/google_plus" target="_blank" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button"
                 class="btn btn-default">Contact me</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>©  All rights reveserved to Shafi's blog  </p>
    </div>
</footer>